
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.menu-bar .label {
	-fx-font-size: 12pt;
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: white;
}

.menu:hover, .menu:focused {
	-fx-background-color: black;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu .label:hover {
    -fx-background-color: derive(#1d1d1d,20%);
}

VBox  {
	-fx-border-style: solid outside;
	-fx-border-width: 1;
	-fx-border-color: black;
}

ScrollPane {
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-padding: 0;
}

.scrollPaneCell {
	-fx-spacing: 10;
	-fx-padding: 5;
	-fx-font-weight: bold;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
}

.rootNodeCell {
	-fx-background-color: #ffbf46;
}