
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.menu-bar .label {
	-fx-font-size: 12pt;
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: white;
}

.menu:hover, .menu:focused {
	-fx-background-color: black;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu .label:hover {
    -fx-background-color: derive(#1d1d1d,20%);
}

.scrollPaneCell {
	-fx-spacing: 10;
	-fx-padding: 5;
	-fx-font-weight: bold;
}